@font-face {
  font-family: Campton;
  src: url(../webfonts/Campton/Campton-Book.otf);
  font-weight: 400;
}
@font-face {
  font-family: Campton;
  src: url(../webfonts/Campton/Campton-SemiBold.otf);
  font-weight: 600;
}
@font-face {
  font-family: Campton;
  src: url(../webfonts/Campton/Campton-bold.otf);
  font-weight: 800;
}
*{
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration:none;
  list-style: none;
  font-family: Campton;
}
body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.menu{
  width: 80%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 3rem;
  img{
    width: 4rem;
  }
  ul{
    width: 70%;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  h3{
    width:3rem;
    font-size: 3rem;
    font-weight: 400;
  }
}

.landingpage{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  img{
    width: 55rem;
  }
  .landing-info{
    width: 70%;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
      font-size: 10rem;
      line-height: 8rem;
    }
    p{
      font-size:1.6rem;
    }
  }
  .landing-beneficts{
    width: 70%;
    background: #2784FF;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:  2rem;
    margin-top: 5rem;
    li{
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color:#fff;
      img{
        width: 3rem;
        height: 3rem;
      }
      p{
        margin-top:10px;
        font-size:1.2rem
      }
    }
  }
}
.about-us{
  width: 90%;
}
.title-about-us  {
  margin-top: 40px;
  text-align: center;
  font-size: 25px;
  overflow-x: hidden;
}

.content-about-us-line1,
.content-about-us-line2 {
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.profile {
  display: flex;
  width: 50%;
  align-items: center;
  padding: 5px;
}

.profile:first-child {
  margin-left: 100px;
}

.profile:last-child {
  margin-left: -50px;
  margin-right: -150px;
}

.info-profile {
  margin-left: -85px;
  
}

.info-profile >*:not(:last-child){
  margin-bottom: 25px;
}

.info-profile h2{
  font-size: 30px;
}

.info-role div {
  display: flex;
  align-items: center; 
  margin-bottom: 25px;
}

.info-role p {
  height: 100%;
  font-size: 20px;
}

.info-role img {
  width: 20px;
  margin-right: 10px;
}

.photo-profile img {
  width: 250px;
  height: 250px;
  border-radius: 70px;
}

.info-profile img {
  height: 20px;
}

.icons a  {
  width: 20px;
  margin-right: 30px;
}

.icons{
  display: flex;
  align-items: flex-start;
}

.suport-us {
  position:relative;
  margin-top: 150px;
  display: flex;
  align-self: center;
  background-color: #2784FF;
  border-radius: 60px;
  width: 775px;
  height: 245px;
}

.content-suport-us {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 20px;
  position:relative;
}

.text-support {
  font-size: 90px;
  font-weight:bolder;
  color: #0F60CB;
  
  position:absolute;
  top:30px;
}
.text-us {
  font-size: 90px;
  font-weight:bolder;
  color: #0F60CB;
  
  position:absolute;
  top:100px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.contact-us p {
  font-size: 16px;
  color: #fff;
  opacity: 75%;
  width: 270px;
}

.contact-us p:first-child{
  margin-bottom: 5px;
}

.contact-us p:last-child{
  margin-top: 12px;
}

.contact-us h3 {
  font-weight: bold;
  color: #fff;
  opacity: 110%;
  font-size: 25px;
}


.image-suport-us img {
  position:absolute;
  width:220px;
  right:-100px;
  overflow-x: hidden;
}

.contact-us-section {
  margin-top: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}

.image-drot { 
  width: 40%;
  padding: 5px; 
  display: flex;
  background-color: #2784FF;
  height: 365px;
  justify-content: center;
  align-items: center;
  img {
    width: 140px;
    
  }
  p {
    width: 15rem;
    font-size: 75px;
    font-weight: bolder;
    color: #fff;
    text-align:center;
  }
  
}
.contact-us-form {
  width: 50%; 
  padding: 10px;
  text-align: center;
}

.contact-us-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.contact-us-form h2 {
  font-size: 50px;
  opacity: 80%;
  margin-bottom: 22px;
}

.contact-us-form input {
  width: 450px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px #D3D3D3 ;
}

.contact-us-form textarea {
  margin-top: 15px;
  width: 450px;
  height: 100px;
  border-radius: 8px;
  border: solid 1px #D3D3D3 ;
}

.contact-us-form button {
  margin-top: 15px;
  width: 450px;
  height: 55px;
  background-color: #2784FF;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  font-weight: bolder;
  border: 0px dotted gray
}


#placeholder-input::placeholder {
  font-size: 20px;
  opacity: 60%;
  padding-top: 20px;
  padding-left: 12px;
}

#placeholder-textarea::placeholder {
  font-size: 20px;
  opacity: 60%;
  padding-top: 35px;
  padding-left: 12px;
}

.stations {
  width: 60%;
  margin-top: 100px;  
  .doctor-station {
    width: 100%;   
    display: flex;
    align-items: center;
    .description-doctor-station{
      display: flex;
      width: 50%;
      font-size: 1.4rem;
    }
    .content-doctor-station { 
      width: 300px;
      display: flex;
      flex-direction: column;
      text-align: flex-end;
      position: relative;
      &:before{
        content: ''; 
        display: block;
        width: 15rem;
        height: 15rem;
        border-radius:50%;
        background:#F3F8FD;
        position:absolute;
        z-index: -99;
        top:-5rem;
        left: -4rem;
      }
      img {
        width: 250px;
        
      }
    }
  }
  .secretary-station {
    display: flex;
    align-self: flex-end;
    .content-secretary-station {
      width: 300px;
      display: flex;
      flex-direction: column;
      text-align: flex-end;
      position: relative;
      &:before{
        content: ''; 
        display: block;
        width: 15rem;
        height: 15rem;
        border-radius:50%;
        background:#F3F8FD;
        position:absolute;
        z-index: -99;
        top: -3rem;
        right: -4rem;
      }
      img {
        width: 250px;
      }
    } 
    .description-secretary-station{
      display: flex;
      width: 70%;
      font-size: 1.4rem;
      align-items: center;
      text-align: end;
      margin-right: 50px;
    }
    margin-bottom: 5rem;
  }
}
  
  
  .advantages{
    height:70vh;
    width: 90%;
    display: flex;
    justify-content:center;
    align-items:center;
    .medicine-pills{
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content:center;
      width: 320px;
      height:460px;
      background:#2784FF;
      border-radius: 31px;
      padding: 20px;
      color: #fff;
      p{
        font-size: 22px;
        font-weight:bold;
        padding: 15px;
        text-align: center;
      }
      img{
        width: 500px;
      }
    }
    .vantage-item{
      img{
        width: 50px;
      }
    }
    
    .advantages-info{
      margin-left: 3rem;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1{
        font-size: 3.2rem;
        margin-bottom: 40px;
      }
      hr{
        width: 100%;
        height:1px;
        background: #d1d1d1;
        margin-bottom: 40px;
        border:none;
      }
      .vantages{
        width: 70%;
        display: flex;
        
        .vantage-item{
          margin-right: 30px;
          p{
            margin-top: 0.7rem;
          }
          span{
            display: flex;
            align-items: center;
            img{
              width: 40px;
              height: 40px;
              background:#2784FF;
              padding: 10px;
              border-radius:10px;
            }
            p{
              font-size:20px;
              font-weight: 600;
              margin-left: 10px;
            }
          }
        }
        
      }
    }
  }
