@font-face {
  font-family: Campton;
  src: url(../webfonts/Campton/Campton-Book.otf);
  font-weight: 400;
}

@font-face {
  font-family: Campton;
  src: url(../webfonts/Campton/Campton-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: Campton;
  src: url(../webfonts/Campton/Campton-bold.otf);
  font-weight: 800;
}

* {
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Campton;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.menu img {
  width: 4rem;
}

.menu ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu h3 {
  width: 3rem;
  font-size: 3rem;
  font-weight: 400;
}

.landingpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landingpage img {
  width: 55rem;
}

.landingpage .landing-info {
  width: 70%;
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landingpage .landing-info h1 {
  font-size: 10rem;
  line-height: 8rem;
}

.landingpage .landing-info p {
  font-size: 1.6rem;
}

.landingpage .landing-beneficts {
  width: 60%;
  background: #2784FF;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  margin-top: 5rem;
}

.landingpage .landing-beneficts li {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

.landingpage .landing-beneficts li img {
  width: 3rem;
  height: 3rem;
}
/*# sourceMappingURL=index.css.map */


.title-about-us  {
  margin-top: 40px;
  text-align: center;
  font-size: 25px;
}

.about-us {
  background-image: url("../img/Caminho\ 472.svg");
  background-size: cover;
}

.content-about-us-line1,
.content-about-us-line2 {
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.profile {
  display: flex;
  width: 50%;
  align-items: center;
  padding: 5px;
}

.profile:first-child {
  margin-left: 100px;
}

.profile:last-child {
  margin-left: -50px;
  margin-right: -150px;
}

.info-profile {
  margin-left: -85px;

}

.info-profile >*:not(:last-child){
  margin-bottom: 25px;
}

.info-profile h2{
  font-size: 30px;
}

.info-role div {
  display: flex;
  align-items: center; 
  margin-bottom: 25px;
}

.info-role p {
  height: 100%;
  font-size: 20px;
}

.info-role img {
  width: 20px;
  margin-right: 10px;
}

.photo-profile img {
  width: 250px;
  height: 250px;
  border-radius: 70px;
}

.info-profile img {
  height: 20px;
}

.icons a  {
  width: 20px;
  margin-right: 30px;
}

.icons{
  display: flex;
  align-items: flex-start;
}

.suport-us {
  margin-top: 40px;
  display: flex;
  align-self: center;
  background-color: #2784FF;
  border-radius: 60px;
  width: 775px;
  height: 245px;
}

.content-suport-us {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 20px;
}


.content-suport-us hr {
  height: 170px;
  width: 0px;
  opacity: 35%;
  margin-left: 20px;
}

.content-suport-us h1 {
  font-size: 60px;
  font-weight:bolder;
  color: #00008B;
  opacity: 40%;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.contact-us p {
  font-size: 16px;
  color: #fff;
  opacity: 75%;
  width: 270px;
}

.contact-us p:first-child{
  margin-bottom: 5px;
}

.contact-us p:last-child{
  margin-top: 12px;
}

.contact-us h3 {
  font-weight: bold;
  color: #fff;
  opacity: 110%;
  font-size: 25px;
}


.image-suport-us img {
  margin-left: 41px;
}

.contact-us-section {
  margin-top: 40px;
}

.concact-us-content{
  display: flex;
  width: 100%;
}

.image-drot { 
  width: 40%;
  align-items: center;
  padding: 5px;  display: flex;
  background-color: #2784FF;
  height: 325px;
  justify-content: center;
  align-items: center;

}

.image-drot img {
  width: 175px;
  margin-left: 70px;
}

.image-drot p {
  font-size: 75px;
  font-weight: bolder;
  margin-left: 30px;
  color: #fff;
}

.contact-us-form {
  display: flex;
  width: 50%; 
  flex-direction: column;
  margin-left: 40px;
}


.contact-us-form h2 {
  font-size: 50px;
  opacity: 80%;
}

.contact-us-form input {
  width: 350px;
  height: 45px;
  border-radius: 8px;
  border: solid 1px #D3D3D3 ;
}

.contact-us-form textarea {
  margin-top: 15px;
  width: 350px;
  height: 90px;
  border-radius: 8px;
  border: solid 1px #D3D3D3 ;
}

.contact-us-form button {
  margin-top: 15px;
  width: 350px;
  height: 45px;
  background-color: #2784FF;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  font-weight: bolder;
  border: 0px dotted gray
}


#placeholder-input::placeholder {
  font-size: 20px;
  opacity: 60%;
  padding-top: 20px;
  padding-left: 12px;
}

#placeholder-textarea::placeholder {
  font-size: 20px;
  opacity: 60%;
  padding-top: 35px;
  padding-left: 12px;
}


